location = "East US"
resource_group_name = "docker-nginx-rg"
vm_name = "docker-nginx-vm"
vm_size = "Standard_B1s"
admin_username = "azureuser"
ssh_public_key = "your-ssh-public-key-here"
allowed_ssh_cidr = "0.0.0.0/0"
install_docker = true
install_nginx = true
